footer{
    background: #04091e;
    .footer-content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2%;
        padding: 8% 0 4% 0;
        margin: 0 1%;
        @media screen and (max-width:992px){
            grid-template-columns: repeat(2, 1fr);
            }
    @media screen and (max-width:800px){
        grid-template-columns: 100%;
        padding-bottom: 20%;
        h4{
            margin-top: 3%;
        }
    }
    }
    .footer-insta{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        &>*{

    @media screen and (max-width:800px){
        gap: 30px;

        width: 40%;
    }
        }
    }
    .footer-bot{
        border-top: 1px solid #333333;
        
        .footer-bot-inside{
            display: flex;
            justify-content: space-between;
            padding: 4% 0 10% 0;
            margin: 0 1%;
    @media screen and (max-width:800px){
        flex-direction: column;
        .footer-socials{
        padding-top: 3%;

        }
    }
        }
        i, a{
            color: $color_base;
        }
        .footer-socials{
            width: 26%;
            i{
                padding: 0 6%;
                color: #cccccc;
                &:hover{
                    color: $color_base;
                }
            }
        }
    }
    .e-mail{
        input{
            background: transparent;
            border: 1px solid #333333;
            line-height: 1.84rem;
            color: $color_7;
            padding-left: 6%;
            width: 80%;
            vertical-align: middle;
        }
        .btn{
            margin-left: -2%;
            @media screen and (max-width:800px){

            height: 33px;
            vertical-align: middle;
            i{
                vertical-align: middle;
            }
            }
        }
    }
    .nav-footer{
        display: flex;
        justify-content: space-between;
        width: 70%;
        a{
            color: $color_7;
            &:hover{
                color: $color_base;
            }
        }
    }
}