*{
    ::selection{
        color: $color_white;
        background: $color_base;
    }
}
body{
    font-family: $font_base;
    color: $color_7;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6rem;
}
.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}
a{
    color: $color_two;
    text-decoration: none;
    &:hover{
        color: $color_base;
    }
}
h1{
    font-size: calc(16px + 2.8vw);
    margin: 3% 0;
    text-transform: uppercase;
}
h2{
    font-size: calc(14px + 1.2vw);
    font-weight: 600;
    line-height: 2.8rem;
    color: $color_two;
}
h3{
    font-size: 18px;
    color: $color_two;
}
h4{
    color: $color_white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6%;
    @media screen and (max-width:1260px){
        margin-bottom: 3%;
    }
}
h5{
    color: $color_two;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 1%;
}
ul, li{
    list-style: none;
}
section:not(.section-top,.section-not-find,.section-blog){
    padding: 6% 0;
    text-align: center;
    p{
        margin: 1% 0;
        padding-bottom: 4%;
    }
}
.rel{
    position: relative;
}
img{
    width: 100%;
    vertical-align: middle;
}
.img-block{
    overflow: hidden;
}
.transition-03{
    transition: all 0.3s ease-in-out;
}
.page{
    background: $color_three;
    .section-top{
        height: 36vh;
        &::before{
            content: "";
            background: #000000;
            opacity: 0.4;
            position: absolute;
            top: 0;
            left: 0;
            height: 36%;
            width: 100%;
            z-index: 1;
        }
    }
    .section-top-inside {
        padding: 130px 1%;
        text-align: center;
        color: $color_white;
        z-index: 2;
        position: relative;
        a{
            color: $color_white;
        }
        i{
            padding: 0 1%;
        }
        h1{
            font-size: 3rem;
            text-transform: none;
        }
    }
}
.provide, .package-list{
    li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4%;
    }
}
.bg-white{
    background: $color_white;
}
.yellow{
    color: orange;
}
.tag{
    color: $color_two;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #eeeeee;
    padding: 1% 3%;
    margin: 4% 0;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: $color_base;
        color: $color_white;
        transition: all .3s ease-in-out;
    }
}