body{
    font-family: $font_base;
    color: $color_7;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6rem;
}
.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}
a{
    color: $color_two;
    text-decoration: none;
    &:hover{
        color: $color_base;
    }
}
h1{
    font-size: 60px;
    margin: 3% 0;
    text-transform: uppercase;
}
h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 2rem;
    color: $color_two;
}
h3{
    font-size: 18px;
}
section:not(.section-top){
    padding: 6% 0;
    text-align: center;
    p{
        margin: 1% 0;
        padding-bottom: 6%;
    }
}
.rel{
    position: relative;
}

img{
    width: 100%;
    height: 100%;
}
.transition-04{
    transition: all 0.4s ease-in-out;
}

.bg-pattern1{
    background: url("../img/pattern1.png");
}
.bg-pattern2{
    background: url("../img/pattern2.png");
}
