$font_base: Poppins;
// $font_two: Courgette;
// $font_three: Montserrat;
$color_base: #f8b600;
$color_7: #777777;
$color_two: #222222;
$color_three: #f9f9ff;
$color_four: #04091e;
$color_white: #ffffff;