.page-blog{
    .section-top{
        background: url("../img/hero-blog.jpg") center / cover;
        }
        
        
}

.blog-all{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 2%;
    padding: 4% 0;
    .blog-text-all{
        display: flex;
    }
    .socials-menu-blog{
        display: flex;
        &>*{
            padding: 8%;
        }
    }
    .blog-info{
        width: 100%;
    }
    .double-img{
        display: flex;
    }
    .navigation-posts{
        display: flex;
        border-top: 1px solid #eeeeee;
        padding-top: 6%;
    }
    .comments{
        background: #fafaff;
        border: 1px solid #eeeeee;
        .comment-single{
            display: flex;
            justify-content: space-between;
        }
    }
}

aside{
    background: #fafaff;
    border: 1px solid #eeeeee;
    text-align: center;
    .single-aside{
        border-bottom: 1px solid #eeeeee;
        margin: 10%;
    padding-bottom: 10%;
    }
    .aside-h4{
        background: $color_base;
        padding: 2% 10%;
        text-transform: none;
        font-size: 1.2rem;
    }
    .post-single{
        display: flex;
        
    }
    .post-single-text{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .cat-list{
        li{
            border-bottom: 2px dotted #eeeeee;
        }
        a{
            display: flex;
            justify-content: space-between;
        }
    }
}

